* {
    box-sizing: border-box;
    background-color: black;
}

.carousel{

    display:flex;
justify-content:center;
height:90vh;
flex-direction: column;
align-items:center;
}

.imgsel{
    display: flex;
    transform:scale(2);


}